source https://nuget.org/api/v2

nuget Chiron ~> 6
nuget FSharp.Core >= 3.1.2.5 redirects: force
nuget Hopac ~> 0.3.4
nuget Hopac.Plus ~> 0.1.0
nuget Http.fs ~> 3.0.7

github neoeinstein/YoLo YoLo.fs

group Build
  source https://nuget.org/api/v2

  nuget SourceLink.Fake
  nuget FAKE
  nuget FSharp.Formatting

  github fsharp/FAKE modules/Octokit/Octokit.fsx

group Test
  source https://nuget.org/api/v2

  nuget NUnit ~> 2
  nuget NUnit.Runners ~> 2
